<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="title">
      <a routerLink="/" routerLinkActive="active">ICIN Bank</a>
  </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="nav-link btn bg-transparent" (click)="onDashboard()">Admin Dashboard</button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn bg-transparent" (click)="onCheckBooks()">Check Management</button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn bg-transparent" (click)="onTransaction()">Transactions</button>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item my-2 my-lg-0">
                <button class="nav-link btn bg-transparent" (click)="onLogout()">Logout</button>
            </li>
        </ul>
    </div>
  </nav>