<div class="container">
    <div class="row py-5 mt-2 align-items-center myDiv">
        <div class="col-md-6 col-lg-4 ml-auto">
            <form action="#">
                <div class="row">
                    <small class="col-lg-12">Last Name</small>
                    <div class="input-group col-lg-12 mb-2">
                        <input readonly [(ngModel)]="lastname" id="lastname" type="text"
                            name="lastname" placeholder="Last Name"
                            class="form-control bg-white border-left-0 border-md" required>
                    </div>

                    <small class="col-lg-12">First Name</small>
                    <div class="input-group col-lg-12 mb-2">
                        <input readonly [(ngModel)]="firstname" id="firstname" type="text"
                            name="firstname" placeholder="First Name"
                            class="form-control bg-white border-left-0 border-md" required>
                    </div>

                    <small class="col-lg-12">Username</small>
                    <div class="input-group col-lg-12 mb-2">
                        <input readonly [(ngModel)]="username" id="username" type="text" name="username"
                            placeholder="Username" class="form-control bg-white border-left-0 border-md" required>
                    </div>

                    <small class="col-lg-12">Password</small>
                    <div class="input-group col-lg-6 mb-3">
                        
                        <input [(ngModel)]="password" id="password" type="{{passwordType}}"
                            name="password" placeholder="Password"
                            class="form-control bg-white border-left-0 border-md" required>
                    </div>
                    <div class="input-group col-lg-6 mb-3">     
                    <input type = "checkbox" (click)="changePasswordType()" >
                    <small class="col-lg-12">Show Password</small>
                    </div>
                    <div class="input-group col-lg-6 mb-6">
                        <a class="btn btn-primary btn-sm" (click)="updatePassword()">
                            <span class="font-weight-bold text-white">Update</span>
                        </a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>