html { 
    height: 100vh;

}
body { 
    margin: 0;     
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title{
    text-transform: uppercase;
    font-weight: 900;
}

h2{
    padding: 10px;
}

a{
    text-decoration: none;
    color: steelblue;
    cursor: pointer;
}


