<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span id="title">
        <a routerLink="/" routerLinkActive="active">ICIN Bank</a>
      </span>
        <ul class="nav navbar-nav" [hidden]="!loggedIn" >
            <li [style.display]="getDisplay()"><a routerLink="/account" routerLinkActive="active"> Accounts</a></li>
            <li [style.display]="getDisplay()"><a routerLink="/user" routerLinkActive="active"> Users</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a [style.display]="getDisplay()" (click)="logout()">Logout</a></li>
          </ul>
        </nav>
        <div class="container" [hidden]="!loggedIn">
        <p>Welcome to your ICIN Portal!</p>
          <router-outlet></router-outlet>
        </div>
        <div [hidden]="loggedIn" class="container" id="login-signup">
            <div class="row g-3">   
                <div class="col-sm-9 col-md-6 col-lg-3"> 
        <form (ngSubmit)="onSubmit()">  
        <h2 class="clean-font">login</h2> <br/>
          <input type="text" class="form-control-plaintext" name="username" [(ngModel)]="username" placeholder="Username" name="username" required autofocus="" />
        <br/>
        <input type="password" class="form-control-plaintext" name="password" [(ngModel)]="password" placeholder="Password" required /> 
        <br/>
          <button class="btn btn-primary btn-sm" type="submit">Login</button>   
        </form>
                </div>
                <div class="col-sm-1 col-md-2 col-lg-3"></div> 
        <div class="col-sm-12 col-md-8 col-lg-4"> 
            <h2 class="clean-font">or Sign up</h2>
      <app-signup></app-signup>
        </div>
      </div>
</div> 
<app-footer></app-footer>




  
