#title a{
    padding-left: 1em;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #eee;
    font-weight: 900;
}

.nav a{
    text-decoration: none;
    padding: 1em;
    color: cadetblue;
    cursor: pointer;
}

#signup{
    text-decoration: none;
    padding: 5px;
    color: steelblue;
    cursor: pointer;
}

#login-signup{
   margin-top: 20vh;
   margin-bottom: 30vh;
}

input{
   width: 250px;
}
