<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span id="title">
            <a routerLink="/" routerLinkActive="active">ICIN Bank</a>
      </span>
      <ul class="nav navbar-nav">
        <li [style.display]="getDisplay()"><a routerLink="/account" routerLinkActive="active"> Accounts</a></li>
        <li [style.display]="getDisplay()"><a routerLink="/user" routerLinkActive="active"> Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [style.display]="getDisplay()"><a routerLink="/login" (click)="logout()">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li [style.display]="dashboardDisplay()"><a routerLink="/account" routerLinkActive="active"> Accounts</a></li>
        <li [style.display]="dashboardDisplay()"><a routerLink="/user" routerLinkActive="active"> Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [style.display]="dashboardDisplay()"><a routerLink="/login" (click)="adminLogout()">Logout</a></li>
      </ul>
</nav>

<div class="container"> 
  <div [hidden]="!loggedIn">
    <p>Welcome to your ICIN Portal!</p>
  </div>
  <div [hidden]="!dashboard">
    <p>Welcome to Admin Portal!</p>
  </div>
</div>
 -->

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="title">
    <a routerLink="/" routerLinkActive="active">ICIN Bank</a>
</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <button class="nav-link btn bg-transparent" (click)="onDashboard()">Dashboard</button>
          </li>
          <li class="nav-item">
              <button class="nav-link btn bg-transparent" (click)="onAccounts()">Account</button>
          </li>
          <li class="nav-item">
              <button class="nav-link btn bg-transparent" (click)="onChequeBooks()">Check</button>
          </li>
          <li class="nav-item">
              <button class="nav-link btn bg-transparent" (click)="onTransaction()">Transactions</button>
          </li>
          <li class="nav-item">
              <button class="nav-link btn bg-transparent" (click)="onTransfer()">Tranfer</button>
          </li>
          <li class="nav-item">
              <button class="nav-link btn bg-transparent" (click)="onProfile()">Profile</button>
          </li>
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item my-2 my-lg-0">
              <button class="nav-link btn bg-transparent" (click)="onLogout()">Logout</button>
          </li>
      </ul>
  </div>
</nav>