<div class="container">
    <div class="row pt-3 align-items-center">
        <div class="col-md-12 col-lg-12 mb-3">
            <button class="btn btn-outline-dark btn-sm" (click)="open(content)">Request Check Book</button>
        </div>
        <div class="col-md-12 col-lg-12 ml-auto">
            <table class="table">
                <tr class="table-active">
                    <th scope="col" class="border-right">Number</th>           
                    <th scope="col">Account</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                </tr>
                    <tr *ngFor="let checkBook of checkBooks">
                        <td scope="row" class="border-right">{{checkBook['id']}}</td>
                        <td>{{checkBook['accountNumber']}}</td>
                        <td>{{checkBook['accountType']}}</td>
                        <td>{{generateDate(checkBook['date'])}}</td>
                        <td>{{checkBook['status']}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">New Request</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <button type="button" class="btn btn-outline-dark col-12 mb-3" (click)="modal.close('Checking')">Submit</button>
    </div>
</ng-template>
