<router-outlet></router-outlet>
<!-- <div [hidden]="dashboard" id="login-admin">
    <div class="row">   
        <div class="col-sm-12 col-md-8 col-lg-4"> 
            <form (ngSubmit)="onSubmit()">  
                <h2 class="clean-font">Admin</h2> 

                <label>Username</label>
                <input type="text" class="form-control-plaintext" name="username" [(ngModel)]="username" placeholder="Username" name="username" required autofocus="" />
                <br/>

                <label>Password</label>
                <input type="password" class="form-control-plaintext" name="password" [(ngModel)]="password" placeholder="Password" required /> 
                <br/>

                <button class="btn btn-primary btn-sm" type="submit">Login</button>   
            </form>
        </div>
    </div>
  </div>  -->
